/********** Layout *************/
* {
  box-sizing: border-box;
}

.main {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;  /* Fallback for browsers do NOT support vh unit */
}

.logo-container {
  margin-top: 60px;
}

.play-area {
  border-radius: 10px;
  margin-top: 10px;
}

.content {
  min-height: 400px;
  height: auto;
}

#timer {
  margin-bottom: 30px;
}

#startButton {
  margin: 0 auto;
}
/********** Colors *************/
body {
  background: url("../images/game-of-thrones-background.jpg") no-repeat;
  background-size: cover;
}

.main {

}


/********** Fonts *************/
body {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

h1 {
  font-family: 'Cinzel Decorative', cursive;
}


/********** Images *************/
